/* Start Phone */

/* Start Background Phone */

.phone-0{
	height: 800px;
	background-image: url(img/pexels-photo-265152.jpeg);
	background-size: cover;
	background-attachment: fixed
}

/* End Background Phone */

/* Start Background Color Phone */

.phone-0 .phone{
	background-color:rgba(0, 0, 0, .9);
	height: 800px;
}

/* End Background Color Phone */

/* Start  Ph-Info */

.ph-info{
	width: 40%;
	color: #fff;
	padding-top: 200px;
}

/* Start P In Ph-Info */

.ph-info h1, p{padding-bottom: 40px;}

/* End P In Ph-Info */

/* Start Span In Ph-Info */

.ph-info .span{
	background-color: rgba(31, 52, 70, .7);
	height: 40px;
	color: #FFF;
	padding: 10px;
	margin-top: 20px;
}

.ph-info .span:first-of-type{width: 60%}

.ph-info .span:nth-last-child(2){ width: 80%}

.ph-info .span:last-of-type{ width: 90%}

/* End Span In Ph-Info */

/* 	End  Ph-Info */

.ph-img{
	float: right;
	padding-right: 7%;
	padding-top: 65px
}

.ph-img img{
	width: 311px;
	height: 655px;
	border-radius: 10%;
}
/* End Phone */


















