[Desktop Entry]
Encoding=UTF-8
Name=Link to Success free icon
Type=Link
URL=https://image.flaticon.com/icons/svg/149/149691.svg
Icon=image-svg+xml
Name[en_US]=icon
